




#header, #footer {
    background-color: $color-wet-asphalt;
    color: white;
    height: 50px;
    left: 0;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    z-index: 2;

    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}



#header {
    top: 0;

    h1 {
        font-size: 18px;
        margin: 0;
        text-align: center;
        
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-order: 1;
        order: 1;
    }

    i {
        color: $color-turqoise;
    }

    .action {
        height: 50px;
        padding: 0 14px;
        
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex: 0 1 auto;
        flex: 0 1 auto;
    }

    .action-left {
        background-color: $color-midnight-blue;
        
        -webkit-order: 0;
        order: 0;
    }

    .action-right {
        -webkit-order: 2;
        order: 2;
    }
}

#footer {
    bottom: 0;

    h2 {
        font-size: 16px;
        margin: 0;
        text-align: center;
    }
}