
.transaction-grid {
    border-top: 1px solid $color-silver;
    margin: 0;
    padding: 0;

    li {
        background-color: $color-clouds;
        border-bottom: 1px solid $color-silver;
        list-style: none;
        position: relative;

        .transaction {

            background-color: $color-clouds;
            min-height: 70px;
            padding: 6px 8px;
            position: relative;
            z-index: 5;

            @include transform(translate3d(0,0,0));
            -webkit-transition: -webkit-transform 500ms $ease-out-back;

            -webkit-perspective: 1000;
            -webkit-backface-visibility: hidden;

            &.active {
                @include transform(translate3d(-180px,0,0));
            }
        }

        .actions, .archive {
            background-color: $color-silver;
            color: white;
            font-size: 16px;
            height: 100%;
            padding-left: 30px;
            position: absolute;
            right: 90px;
            text-align: center;
            top: 0;
            width: 120px;
        }

        .archive {
            background-color: $color-alizarin;
            right: 0px;
            width: 90px;
        }

    }
}

.transaction-editor {
	padding: 10px 15px;
}






.form-group {
	label {
		font-size: 18px !important;
	}

	input {
		font-size: 18px !important;

		&[type="number"] {
			text-align: right;
		}
	}

	textarea {
		font-size: 18px !important;
		height: 260px !important;
	}
}