
.transaction-grid {
    border-top: 1px solid $color-silver;
    margin: 0;
    padding: 0;

    .transaction {
        border-bottom: 1px solid $color-silver;
        list-style: none;
    }
}

.transaction-editor {
	padding: 10px 15px;
}






.form-group {
	label {
		font-size: 18px !important;
	}

	input {
		font-size: 18px !important;

		&[type="number"] {
			text-align: right;
		}
	}

	textarea {
		font-size: 18px !important;
		height: 260px !important;
	}
}