/* line 3, ../sass/_main.scss */
#menu {
  background: #ecf0f1;
  position: absolute;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 10;
}

/* line 13, ../sass/_main.scss */
#viewport {
  background: #ecf0f1;
  position: absolute;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 11;
  overflow: hidden;
}

/* line 24, ../sass/_main.scss */
#content {
  padding: 50px 0;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 1;
}

/* line 6, ../sass/_header.scss */
#header, #footer {
  background-color: #34495e;
  color: white;
  height: 50px;
  left: 0;
  padding: 0;
  position: absolute;
  text-transform: uppercase;
  width: 100%;
  z-index: 2;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

/* line 25, ../sass/_header.scss */
#header {
  top: 0;
}
/* line 28, ../sass/_header.scss */
#header h1 {
  font-size: 18px;
  margin: 0;
  text-align: center;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-order: 1;
  order: 1;
}
/* line 39, ../sass/_header.scss */
#header i {
  color: #1abc9c;
}
/* line 43, ../sass/_header.scss */
#header .action {
  height: 50px;
  padding: 0 14px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
}
/* line 55, ../sass/_header.scss */
#header .action-left {
  background-color: #2c3e50;
  -webkit-order: 0;
  order: 0;
}
/* line 62, ../sass/_header.scss */
#header .action-right {
  -webkit-order: 2;
  order: 2;
}

/* line 68, ../sass/_header.scss */
#footer {
  bottom: 0;
  height: 0;
}
/* line 72, ../sass/_header.scss */
#footer h2 {
  font-size: 16px;
  margin: 0;
  text-align: center;
}

/* line 2, ../sass/_transactions.scss */
.transaction-grid {
  border-top: 1px solid #bdc3c7;
  margin: 0;
  padding: 0;
}
/* line 7, ../sass/_transactions.scss */
.transaction-grid li {
  background-color: #ecf0f1;
  border-bottom: 1px solid #bdc3c7;
  list-style: none;
  position: relative;
}
/* line 13, ../sass/_transactions.scss */
.transaction-grid li .transaction {
  background-color: #ecf0f1;
  min-height: 70px;
  padding: 6px 8px;
  position: relative;
  z-index: 5;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
/* line 27, ../sass/_transactions.scss */
.transaction-grid li .transaction.active {
  -webkit-transform: translate3d(-180px, 0, 0);
  -moz-transform: translate3d(-180px, 0, 0);
  -ms-transform: translate3d(-180px, 0, 0);
  -o-transform: translate3d(-180px, 0, 0);
  transform: translate3d(-180px, 0, 0);
}
/* line 32, ../sass/_transactions.scss */
.transaction-grid li .actions, .transaction-grid li .archive {
  background-color: #bdc3c7;
  color: white;
  font-size: 16px;
  height: 100%;
  padding-left: 30px;
  position: absolute;
  right: 90px;
  text-align: center;
  top: 0;
  width: 120px;
}
/* line 45, ../sass/_transactions.scss */
.transaction-grid li .archive {
  background-color: #e74c3c;
  right: 0px;
  width: 90px;
}

/* line 54, ../sass/_transactions.scss */
.transaction-editor {
  padding: 10px 15px;
}

/* line 64, ../sass/_transactions.scss */
.form-group label {
  font-size: 18px !important;
}
/* line 68, ../sass/_transactions.scss */
.form-group input {
  font-size: 18px !important;
}
/* line 71, ../sass/_transactions.scss */
.form-group input[type="number"] {
  text-align: right;
}
/* line 76, ../sass/_transactions.scss */
.form-group textarea {
  font-size: 18px !important;
  height: 260px !important;
}

/* line 2, ../sass/_layout.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/_layout.scss */
html, body {
  margin: 0;
  padding: 0 !important;
  width: 320px;
  overflow: hidden;
}

/* line 15, ../sass/_layout.scss */
.loading {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  height: 100vh;
  width: 320px;
  opacity: 0;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
/* line 28, ../sass/_layout.scss */
.loading div {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid #34495e;
  padding-top: 17px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
/* line 45, ../sass/_layout.scss */
.loading i {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
/* line 52, ../sass/_layout.scss */
.loading.active {
  z-index: 100001;
  opacity: 1;
}
/* line 56, ../sass/_layout.scss */
.loading.active div {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}

/* line 62, ../sass/_layout.scss */
.viewport {
  position: absolute;
  height: 100vh;
  left: 0;
  top: 0;
  width: 320px;
  z-index: 11;
  overflow: hidden;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(-80px, 0, 0);
  -moz-transform: translate3d(-80px, 0, 0);
  -ms-transform: translate3d(-80px, 0, 0);
  -o-transform: translate3d(-80px, 0, 0);
  transform: translate3d(-80px, 0, 0);
  -webkit-user-select: none;
  -webkit-transition: -webkit-transform 300ms;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}
/* line 80, ../sass/_layout.scss */
.viewport header {
  background-color: #34495e;
  color: white;
  font-size: 24px;
  height: 50px;
  left: 0;
  opacity: 0;
  padding-top: 2px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
/* line 95, ../sass/_layout.scss */
.viewport header nav {
  color: #2ecc71;
  font-size: 18px;
  left: 0;
  padding-left: 6px;
  padding-top: 8px;
  position: absolute;
  top: 1px;
}
/* line 104, ../sass/_layout.scss */
.viewport header nav:before {
  font-family: FontAwesome;
  font-size: 30px;
  font-weight: normal;
  left: 6px;
  position: absolute;
  top: -4px;
}
/* line 114, ../sass/_layout.scss */
.viewport header nav.left {
  padding-left: 26px;
}
/* line 117, ../sass/_layout.scss */
.viewport header nav.left:before {
  content: "\f104";
}
/* line 123, ../sass/_layout.scss */
.viewport header aside {
  color: #2ecc71;
  font-size: 20px;
  padding: 6px 12px;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 133, ../sass/_layout.scss */
.viewport .content {
  padding: 50px 0 0;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 320px;
  z-index: 1;
}
/* line 144, ../sass/_layout.scss */
.viewport .content article {
  background: #ecf0f1;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 152, ../sass/_layout.scss */
.viewport.active, .viewport.base {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 155, ../sass/_layout.scss */
.viewport.active header, .viewport.base header {
  opacity: 1;
}
/* line 160, ../sass/_layout.scss */
.viewport.spawn {
  -webkit-transform: translate3d(345px, 0, 0);
  -moz-transform: translate3d(345px, 0, 0);
  -ms-transform: translate3d(345px, 0, 0);
  -o-transform: translate3d(345px, 0, 0);
  transform: translate3d(345px, 0, 0);
}
