/* line 9, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 13, ../sass/screen.scss */
html, body {
  padding: 0 !important;
}

/* line 23, ../sass/screen.scss */
body {
  padding: 0 !important;
}

/* line 48, ../sass/screen.scss */
#header, #footer {
  height: 50px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* line 57, ../sass/screen.scss */
#header {
  top: 0;
}

/* line 61, ../sass/screen.scss */
#footer {
  bottom: 0;
}
