


<template name="transactions">
    <div class="viewport spawn">
        <header>
            Transactions
            <nav class="left">Menu</nav>
            <aside><i class="fa fa-plus-square"></i></aside>
        </header>

        <div class="content">
            <article>

                <ul class="transaction-grid">
                {{#each transactions}}
                    <li class="transaction" data-id="{{_id}}">
                        <div class="id">{{_id}} #{{id}}</div>
                        <div class="vendor">{{vendor}}</div>
                        <div class="date">{{date}}</div>
                        <div class="category">{{category}}</div>
                        <div class="amount">{{amount}}</div>
                        <div class="description">{{description}}</div>
                    </li>
                {{/each}}
                </ul>
            </article>
        </div>
    </div>
</template>


<template name="transactionEditor">
    <div class="viewport spawn">
        <header>
            #{{transaction.id}}
            <nav class="left">
                All Trans
            </nav>
            <aside><i class="fa fa-save"></i></aside>
        </header>

        <div class="content">
            <article>
                {{#with transaction}}
    
                <div>
                    {{_id}} #{{id}}
                </div>
                <div class="transaction-editor">
                    <from role="form">
                        <div class="form-group">
                            <label for="inputVendor">Vendor</label>
                            <input type="text" id="inputVendor" data-bind="vendor" value="{{vendor}}" class="form-control input-sm1">
                        </div>

                        <div class="form-group">
                            <label for="inputAmount">Amount</label>
                            <input type="number" id="inputAmount" data-bind="amount" value="{{amount}}" class="form-control input-sm1">
                        </div>

                        <div class="form-group">
                            <label for="inputDate">Date</label>
                            <input type="date" id="inputDate" data-bind="date" data-type="date" value="{{parseDate date}}" class="form-control input-sm1">
                        </div>

                        <div class="form-group">
                            <label for="inputCategory">Category</label>
                            <input type="text" id="inputCategory" data-bind="category" value="{{category}}" class="form-control input-sm1">
                        </div>

                        <div class="form-group">
                            <label for="inputDescription">Description</label>
                            <textarea id="inputDescription" data-bind="description" class="form-control input-sm1">{{description}}</textarea>
                        </div>
                    </form>
                </div>

                {{/with}}

            </article>
        </div>
    </div>
</template>