<template name="transactions">

    <button data-action="add-transaction">Add Transaction</button>
    <a href="{{pathFor 'createTransaction'}}">Create</a>

    {{> transactionGrid}}
</template>

<template name="transactionGrid">
    <table>
        <thead>
            <tr>
                <th>text</th>
                <th>type</th>
                <th>category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {{#each transactions}}
            <tr>
                <td>{{text}}</td>
                <td>{{type}}</td>
                <td>{{category}}</td>
                <td>
                    <a href="/transactions/edit/{{_id}}">Edit</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>

<template name="transactionEditorHeader">
    {{#with transaction}}
        <p>Transaction #{{id}}</p>
    {{/with}}
</template>

<template name="transactionEditor">
    {{#with transaction}}
    <from role="form">
        <div class="form-group">
            <label for="inputVendor">Vendor</label>
            <input type="text" id="inputVendor" data-bind="text" value="{{vendor}}" class="form-control input-sm">
        </div>

        <div class="form-group">
            <label for="inputAmount">Amount</label>
            <input type="text" id="inputAmount" data-bind="amount" value="{{amount}}" class="form-control input-sm">
        </div>

        <div class="form-group">
            <label for="inputDate">Date</label>
            <input type="text" id="inputDate" data-bind="date" value="{{date}}" class="form-control input-sm">
        </div>



        <div class="form-group">
            <label for="inputCategory">Category</label>
            <input type="text" id="inputCategory" data-bind="category" value="{{category}}" class="form-control input-sm">
        </div>

        <div class="form-group">
            <label for="inputDescription">Description</label>
            <textarea id="inputDescription" data-bind="description" class="form-control input-sm">{{description}}</textarea>
        </div>

        
        {{/with}}

        <div>
            <button data-action="save" class="btn btn-primary btn-large" type="button">{{saveText}}</button>
        </div>

        <h2>Shit</h2>
        <h2>Shit</h2>
        <h2>Shit</h2>
        <h2>Shit</h2>
        <h2>Shit</h2>
        <h2>Shit</h2>
        <h2>Shit</h2>
        <h2>Shit</h2>
        <h2>Shit</h2>
        <h2>Shit</h2>

    </form>

</template>