<template name="transactions">

    <button data-action="add-transaction">Add Transaction</button>
    <a href="{{pathFor 'createTransaction'}}">Create</a>

    {{> transactionGrid}}
</template>

<template name="transactionGrid">
    <table>
        <thead>
            <tr>
                <th>text</th>
                <th>type</th>
                <th>category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {{#each transactions}}
            <tr>
                <td>{{text}}</td>
                <td>{{type}}</td>
                <td>{{category}}</td>
                <td>
                    <a href="/transactions/edit/{{_id}}">Edit</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</template>

<template name="transactionEditor">
    {{#with transaction}}
    <from role="form">
        <div class="form-group">
            <label for="inputVendor">Vendor</label>
            <input type="text" id="inputVendor" data-bind="text" value="{{vendor}}" class="form-control">
        </div>

        <div class="form-group">
            <label for="input"></label>
            <input type="text" data-bind="type" value="{{type}}" class="form-control">
        </div>

        <div class="form-group">
            <span>Category</span>
            <input type="text" data-bind="category" value="{{category}}" class="form-control">
        </div>
        {{/with}}

        <div>
            <button data-action="save">{{saveText}}</button>
        </div>

    </form>

</template>